<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2ce3b855-76f0-437a-87f7-1320591e26d1" Publisher="CN=Dan Schroeder" Version="1.0.0.1" />
  <Properties>
    <DisplayName>BuildHackathon.Host</DisplayName>
    <PublisherDisplayName>Dan Schroeder</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BuildHackathon.Host.App">
      <VisualElements DisplayName="BuildHackathon.Host" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BuildHackathon.Host" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>